/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0px; padding: 20px; font-family: Roboto, "Helvetica Neue", 
     sans-serif;}

.container{
    margin-top: 20px;
    color: blueviolet;
}

.egal{
    margin: 10px;
    padding: 20px;
    color: blueviolet;
}

mat-label{
    color: blueviolet;
}
